*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
.head h1{
    background-color: rgb(108, 108, 2);
    text-align: center;
    color: white;
}
.section{
    text-align: center;
    margin-top: 200px;
}
.section h1{
    padding-bottom: 15px;
}
input{
    width:20%;
    height: 25px;
}
button{
    padding: 4.5px 20px;
}

/* Js style */
.task{
    display: flex;
}

.butt{
    margin-top: 10px;
    padding: 4.5px 8px;
    margin-left: 5px;
}


.textbox{
    margin-top: 10px;
    margin-left: 556px;
    border: 1px solid black;
    width: 20.1%;
}
